@import url('http://fonts.cdnfonts.com/css/vogue');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    scrollbar-width: none;
    -ms-overflow-style: none;
}
  
html::-webkit-scrollbar{
    width: 0;
    height: 0
}

body{
    background-color: #000;
}

@media only screen and (orientation: landscape) and (min-device-width: 480px){

  #preloader{
    background: #000 url(../img/loading3.gif) no-repeat center center;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 10000000000;
    
  }

  .content{
    background-image: url("./img&video/imgElement/nftpage\ writeup.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header{
    position: relative;
  }

  .gradient{
    position: relative;
    z-index: -1;
  }

  .gradient video{
    width: 100%;
  }

  .logoImg, .artistPage, .landingPage{
    position: absolute;
    top: 0;
  }

  .logoImg{
    width: 21%;
    margin-left: 2.5%;
    margin-top: 3%;
  }

  .logoImg img{
    width: 100%;
  }

  .artistPage{
    width: 12.7%;
    right: 0;
    margin-right: 12.5%;
  }

  .artistPage img{
    width: 100%;
  }

  .landingPage{
    right: 0;
    width: 9.5%;
    margin-right: 1.4%;
    margin-top: 3.5%;
  }

  .landingPage img{
    width: 100%;
  }

  .nftCard{
    display: flex;
    justify-content: space-between;
  }

  .panel{
    position: relative;
    width: 31.5%;
    margin-left: 5%;
    margin-top: -4%;
  }

  .panel img{
    width: 100%;
    border: none;
    padding: 0;
  }

  .modal{
    --bs-modal-width: 100%
  }

  .modal-dialog{
    width: 35%;
    margin-left: auto;
    margin-right: auto;
  }

  .modal-content{
    background-color: transparent;
    border: none;
  }

  .panelIn video{
    width: 100%;
  }

  .swan{
    position: relative;
    width: 14%;
    height: fit-content;
    margin-right: 11.5%;
    margin-top: -4.5%;
  }

  .swan img{
    width: 100%;
  }

  .seqs{
    position: relative;
    display: flex;
    margin-top: 11.5%;
    justify-content: space-between;
    padding: 0 5%;
  }

  .seqs img {
    width: 7.5%;
    border: none;
    padding: 0;
    
  }

  .seqs .modal-dialog{
    width: 70%;
  }

  .footer{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 46%;
    margin-bottom: 6%;
  }

  .collection{
    width: 21.5%;
    height: fit-content;
    margin-left: 9.1%;
    margin-top: 6.5%;
  }

  .collection img{
    width: 100%;
  }

  .collection img:first-child{
    margin-bottom: 9.8%;

  }

  .fish{
    position: relative;
    right: 5%;
    margin-top: 3.5%;
    width: 16%;
  }

  .fish video{
    width: 100%;
  }

      
}